html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* https://davidwalsh.name/css-flip */

.flip-containers {
    text-align: center;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  width: 30%;
  height: 320px;
  display: inline-block;
  margin: 1%;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper, .front, .back {
	width: 100%;
	height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    color: black;
    background: rgb(100,149,237);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    color: white;
    background: black;
}

@media screen and (max-width: 900px){
    .flip-container {
        width: 47%;
    }
}
@media screen and (max-width: 600px){
    .flip-container {
        width: 98%;
    }
}
